<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="email">Email</label><br>
            <input id="email" name="email" type="email" required>
        </div>
        <div>
            <label for="password">Password</label><br>
            <input id="password" name="password" type="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <div>
        <p>Don't have an account?</p>
        <a href="{% url 'login' %}">Sign Up</a>
        <!-- TODO setup register -->
    </div>
</body>
</html>
