<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress static %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'compfest/scss/styles.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="navbar">
        <div class="left">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'book_reservation' %}">Book a Reservation</a>
        </div>
        <div class="right">
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>

    <div class="content">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="email">Email</label><br>
                <input id="email" name="email" type="email" required>
            </div>
            <div>
                <label for="password">Password</label><br>
                <input id="password" name="password" type="password" required>
            </div>
            <button type="submit">Login</button>
        </form>

        <div class="additional-links">
            <p>Don't have an account?</p>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
        {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}:
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>