<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress static %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'compfest/scss/styles.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <meta charset="UTF-8">
    <title>Register Now</title>
</head>
<body>
  <a href="{% url 'home' %}">Home</a>
  <!-- TODO url for book reservation prlu ma? -->
  <h1>Register</h1>
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Register</button>
  </form>
  {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}:
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>